<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Puppies Galore!!</h1>
  <div fxLayout="column" fxLayoutAlign="space-between" class="images">
    <img src="assets/images/merle_pitbull.jpg">
    <img src="assets/images/corgi.jpg">
    <img src="assets/images/pitbull.jpg">
    <img src="assets/images/golden.webp">
    <img src="assets/images/weiner.jpg">
  </div>
  <h3>We have resources for all your puppy needs!</h3>
  <router-outlet></router-outlet>
</div>
